@font-face {
   font-family: Alef;
   src: url("../fonts/Alef/Alef-Webfont/Alef-regular.eot") format('eot'),
        url("../fonts/Alef/Alef-Webfont/Alef-regular.woff") format('woff'),
        url("../fonts/Alef/Alef-Webfont/Alef-regular.ttf") format('ttf');
   font-weight: normal;
}

@font-face {
  font-family: Alef;
  src: url("../fonts/Alef/Alef-Webfont/Alef-bold.eot") format('eot'),
  url("../fonts/Alef/Alef-Webfont/Alef-bold.woff") format('woff'),
  url("../fonts/Alef/Alef-Webfont/Alef-bold.ttf") format('ttf');
  font-weight: bold;
}